# Assets
/assets

# Project place file
/CBRevamped.rbxlx
/Circuit Board_Revamped.rbxl

# Backup .rblx files
/.backups

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# AI REFACTOR BULLS - AI STILL SUCKS IN 2026
/AI_src

# Saves backups
/ClipboardSaves_SAVE_BETA_0.luau 

sourcemap.json
